.container{
     border: 2px solid black;
}
.row{
     border:2px solid red;
}
.col-4,.col-8,.col-12{
     border: 0px solid green;
     
}

body{
     background: red;
}
#header{
background: orange;
}

#menu {
     background: salmon;
     padding:3px 0px;
}
#menu li{
     display: inline;
     padding:15px;
     text-decoration: none;
}
#content{
     background:white ;
}

#sidebar{
background: lightblue;
}
#sidebar li{

     list-style: none;
}
#footer{
background: orange;
}